<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card-body">
                <button routerLink="/tutor" class="card" style="width: 18rem;" >
                    <img src="assets/imgs/logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Relatorios</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Listagem de tutores</h6>
                        <p class="card-text">Listagem de tutores</p>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-body">
                <button routerLink="/addtutor" class="card" style="width: 18rem;" >
                    <img src="assets/imgs/logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cadastro</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cadastro de tutores</h6>
                        <p class="card-text">Cadastro de tutores</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>