<div class="card my-5">  
  <div class="card-body">
    <h2><b>Tutores</b></h2>
    <br/>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
          <th scope="col">Estado</th>
          <th scope="col">Cidade</th>
          <th scope="col">CEP</th>
          <th scope="col">Número</th>
          <th scope="col">Complemento</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tutor of tutores">
          <td>{{ tutor.codigo }}</td>
          <td>{{ tutor.nome }}</td>
          <td>{{ tutor.cpf }}</td>
          <td>{{ tutor.telefone }}</td>
          <td><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></td>
          <td>{{ tutor.estado }}</td>
          <td>{{ tutor.cidade }}</td>
          <td>{{ tutor.cep }}</td>
          <td>{{ tutor.numero }}</td>
          <td>{{ tutor.complemento }}</td>
          <td><button (click)="onCallUpdate(tutor)" class="btn btn-primary" >Editar</button></td>
          <td><button (click)="onRemove(tutor)" class="btn btn-danger">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>